{
  "plugins": ["prettier-plugin-solidity"],
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "parser": "solidity-parse",
        "singleQuote": false
      }
    }
  ]
}
