version: 2
jobs:
  build:
    docker:
      - image: 'circleci/node:latest'
      # if need to wait .. => https://support.circleci.com/hc/en-us/articles/360006773953-Race-Conditions-Wait-For-Database
      - image: trufflesuite/ganache-cli:v6.6.0
        command: [ganache-cli -h 0.0.0.0 -p 8545 -i 1337 -s foobar -e 100000000000000000000]
    steps:
      - checkout
      - run:
          name: install
          command: npm install
      - run:
          name: commitlint
          command: npx --no-install commitlint-circle
      - run:
          name: lint
          command: npm run lint
      - run:
          name: test
          command: npm run test
